    .placeForButtons div {
        position: relative;
        cursor: pointer;
    }
    .btn a{
    
    }
   .placeForButtons div a .fa-brands {
        font-size: 6em;
        color: #222;
    }
   .placeForButtons div::before {
        font-family: "FontAwesome";
        position: absolute;
        top: 0;
        left: 0;
        font-size: 6em;
        height: 0;
        overflow: hidden;
        transition: 0.5s ease-in-out;
    }

   .placeForButtons div:nth-child(1)::before {
        content: "\f16d";
        color: #dc2743;
    }
   .placeForButtons div:nth-child(2)::before {
        content: "\f2c6";
        color: #1DA1F2;
    }
   .placeForButtons div:nth-child(3)::before {
        content: "\f099";
        color: #1DA1F2;
    }
    .placeForButtons div:nth-child(4)::before {
        content: "\f09b";
        color: #fff;
    }
   .placeForButtons div:hover::before {
        height: 100%;
    }