
.myself{
    background: linear-gradient(#010101,#043970);
}

.skills{
    background: linear-gradient(#043970,#a58585);
}

.rightBlock{
    background: linear-gradient(#043970,#a58585);
}

.neonShadow{
    box-shadow: 0px 0px 12px 12px #802cff;
}

.photoplace{
    border: 1px solid white;
}

body::-webkit-scrollbar-thumb {
	background-color: #802CFF;
}

.lineInfo:after {
    background-color: #a66cff; /*задаём цвет линии*/
}


@media screen and (max-width: 900px) {

    .skills{
        background:linear-gradient(#043970,#57607b)
    }
    .rightBlock{
        background:linear-gradient(#57607b 60%,#a58585);
    }
    
}